<section id="home" class="w-full flex flex-col items-center gap-8 px-4 py-16">
  <!-- Primer contenedor -->
  <div
    class="flex flex-col md:flex-row items-center justify-center gap-10 max-w-5xl w-full"
  >
    <img
      src="icons/react.svg"
      class="w-16 h-16 md:w-20 md:h-20 animate-rotate-y animate-infinite animate-duration-[4000ms] animate-ease-linear md:block hidden"
      alt="React Logo"
    />
    <div class="flex flex-col text-center md:text-center gap-2">
      <h1 class="font-title text-4xl md:text-6xl">Hey, soy Alexis</h1>
      <h3 class="text-xl md:text-2xl">Desarrollador Full-Stack</h3>
      <ul class="list-none flex gap-2 justify-center md:justify-start">
        <li class="bg-white/50 p-1.5 rounded-xl text-zinc-800 text-sm md:text-base">
          Disponible para trabajar 
        </li>
        <li class="bg-white/50 p-1.5 rounded-xl text-zinc-800 text-sm md:text-base">Espa帽a </li>
        <li class="bg-white/50 p-1.5 rounded-xl text-zinc-800 text-sm md:text-base">Contacto </li>
      </ul>
    </div>
    
    <img
      src="icons/php-and-js.svg"
      class="w-16 h-16 md:w-20 md:h-20 animate-bounce md:block hidden"
      alt="PHP & JS Logo"
    />
  </div>
  <!--Segundo contendor -->
  <div class="grid grid-cols-4 grid-row-6 md:grid-rows-3 gap-6 mt-6">
    <div
      class="md:w-3xl md:h-80 bg-white col-span-4 md:row-span-1 row-span-2 rounded-3xl drop-shadow-[0_4px_10px_rgba(0,0,0,0.5)] flex flex-col md:flex-row"
    >
      <!--Texto -->
      <div class="md:w-1/2 px-8 py-4 justify-center flex flex-col">
        <h1 class="font-title text-xl md:text-3xl text-gray-text mb-3">
          No solo escribo c贸digo...
        </h1>
        <p class="text-violet-pastel">()=>{"{"}</p>
        <div class="gap-3 flex flex-col pl-4 my-3">
          <p class="text-gray-text text-xs">
            Encuentro soluciones, dise帽o experiencias y hago que tus ideas
            puedan cobrar vida.
          </p>
          <p class="text-gray-text text-xs">
            Mi enfoque va mas all谩 del desarrollo t茅cnico: busco optimizar
            procesos y crear estructuras de datos eficientes para garantizar que
            cada proyecto alcance su m谩ximo potencial.
          </p>
          <p class="text-gray-text text-xs">
            Colaboro con equipos o lidero roles multidisciplinarios, priorizando
            siempre la calidad, la funcionalidad y la experiencia del usuario.
          </p>
        </div>
        <p class="text-violet-pastel">{"}"}</p>
      </div>
      <!-- Imagen -->
      <div
        class="md:w-1/2 overflow-hidden rounded-2xl col-span-4 md:col-span-2"
      >
        <img
          class="rounded-xl relative top-1/3 left-1/3 hover:left-1/4 hover:top-1/4 transition-all ease-in-out duration-500"
          src="images/vsc1.webp"
          alt=""
          id="vsc1"
        />
      </div>
    </div>
    <div
      class="bg-violet-pastel col-span-4 h-[310px] md:h-auto md:w-[372px] md:col-span-2 rounded-3xl drop-shadow-[0_4px_10px_rgba(0,0,0,0.5)] flex items-center pl-10"
    >
      <img src="images/vector1.svg" alt="" />
      <div class="h-full px-4 pt-8">
        <div class="mb-3">
          <h1 class="font-title text-2xl md:text-4xl">Ametel S.A</h1>
          <h3>Junior Full-Stack</h3>
        </div>
        <div class="flex flex-col gap-3 text-sm relative -left-6">
          <p>
            Migraci贸n de sistema interno de gestion empresarial de php a Laravel
            (back-end) y React (front-end).
          </p>
          <p>
            Mejor茅 dise帽o, rendimiento de consultas y escalabilidad , reduciendo
            tiempos de respuesta al optimizar bases de dato.
          </p>
        </div>
        <div class="flex gap-5 justify-end mt-5 mr-5">
          <img class="w-6" src="icons/laravel-monocolor.svg" alt="" />
          <img class="w-6" src="icons/react-monocolor.svg" alt="" />
          <img class="w-6" src="icons/js-monocolor.svg" alt="" />
        </div>
      </div>
    </div>
    <div
      class="bg-green-pastel px-8 py-4 md:w-[372px] h-[688px] col-span-4 md:col-span-2 row-span-3 rounded-3xl drop-shadow-[0_4px_10px_rgba(0,0,0,0.5)] text-center overflow-hidden"
    >
      <h1 class="font-title text-2xl md:text-3xl text-gray-text mt-5">
        Multiplataforma
      </h1>
      <img
        class="md:w-[300px] w-[340px] rounded-xl relative top-1/6 hover:top-1/9 transition-all ease-in-out duration-500"
        src="images/juntoswireframe.webp"
        alt=""
        id="juntoswireframe"
      />
    </div>
    <div
      class="bg-white h-[340px] md:w-[372px] col-span-4 md:col-span-2 row-span-2 rounded-3xl drop-shadow-[0_4px_10px_rgba(0,0,0,0.5)] flex items-center pl-10"
    >
      <img src="images/vector2.svg" alt="" class="relative -top-6" />
      <div class="h-full px-4 pt-12">
        <div class="mb-3">
          <h1 class="font-title text-2xl md:text-4xl text-gray-text">
            Ecourbes
          </h1>
          <h3 class="text-gray-text">Junior Full-Stack</h3>
        </div>
        <div
          class="flex flex-col gap-3 text-sm relative -left-6 text-gray-text"
        >
          <p>
            Dise帽茅 soluciones IoT para la detecci贸n de fugas de agua, desde la
            decodificaci贸n de payloads de sensores hasta la triangulaci贸n zonas
            afectadas.
          </p>
          <p>
            Mejorado la eficiencia operativa y reducci贸n de p茅rdidas mediante la
            automatizaci贸n de alertas y la geolocalizaci贸n precisa de
            incidencias.
          </p>
        </div>
        <div class="flex gap-5 justify-end mt-3 mr-5">
          <img class="w-6" src="icons/python-monocolor.svg" alt="" />
          <img class="w-6" src="icons/html-monocolor.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  const vsc1 = document.getElementById("vsc1");
  const juntoswireframe = document.getElementById("juntoswireframe");

  const initVsc1 = {
    top: 33.33, // Valor predeterminado: 33.33%
    left: 33.33,
  };

  const initJuntosWireframe = {
    top: 16.67, // Valor predeterminado: 33.33%
  };

  // Funci贸n para mover la imagen
  function moveImage(top: number, left: number, image: HTMLElement) {
    image.style.top = `${top}%`; // Ajusta la posici贸n vertical
    if (left != 0) {
      image.style.left = `${left}%`; // Ajusta la posici贸n horizontal
    }
  }
  // Evento para dispositivos m贸viles (click/tap)
  vsc1?.addEventListener("click", () => {
    if (vsc1.style.top === "25%") {
      moveImage(initVsc1.top, initVsc1.left, vsc1); // Restaura la posici贸n original
    } else {
      moveImage(25, 25, vsc1); // Mueve la imagen a top: 25%, left: 25%
    }
  });

  // Evento mouseenter: Mover la imagen cuando el mouse entra
  vsc1?.addEventListener('mouseenter', () => {
    moveImage(25, 25, vsc1); // Mueve la imagen a top: 25%, left: 25%
  });

  // Evento mouseleave: Restaurar la posici贸n original cuando el mouse sale
  vsc1?.addEventListener('mouseleave', () => {
    moveImage(initVsc1.top, initVsc1.left, vsc1); // Restaura la posici贸n original
  });

  juntoswireframe?.addEventListener("click", () => {
    if (juntoswireframe.style.top === "11.11%") {
      moveImage(initJuntosWireframe.top, 0, juntoswireframe);
    } else {
      moveImage(11.11, 0, juntoswireframe);
    }
  });
  // Evento mouseenter: Mover la imagen cuando el mouse entra
  juntoswireframe?.addEventListener("mouseenter", () => {
    moveImage(11.11, 0, juntoswireframe); // Mueve la imagen a top: 11.11%, left: original
  });

  // Evento mouseleave: Restaurar la posici贸n original cuando el mouse sale
  juntoswireframe?.addEventListener("mouseleave", () => {
    moveImage(initJuntosWireframe.top, 0, juntoswireframe); // Restaura la posici贸n original
  });
</script>
