---
const title = "AlexisJRios";
import '../styles/global.css'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
	 <!-- Importa K2D y Chela One desde Google Fonts -->
	 <link href="https://fonts.googleapis.com/css2?family=K2D:wght@400;700&family=Chela+One&display=swap" rel="stylesheet">
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;

	color: white;
	font-family:'K2D', sans-serif;
  }
body{
    background: radial-gradient(
      circle,
      rgba(157, 130, 255, 1) 0%,
      rgba(20, 18, 53, 1) 75%
    );
    background-size: cover;
    background-attachment: fixed;

    overflow-x: hidden;
}
</style>
